.about-author {
	margin-top: 83px;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.about-author a {
	text-decoration: none;
	font-size: 32px;
}

.info-card h2 {
	color: white;
	margin: 10;
}

.info-card {
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
	color: white;
	overflow: hidden;
}

.info-card:after {
	content: '';
	display: block;
	clear: both;
}

.info-card img {
	width: 150px;
}

.image-box {
	float: left;
	margin-right: 15px;
}

.info-box {
	padding-left: 165px;
}

.info-box li {
	list-style: circle;
	margin-left: 10px;
}

@media (max-width: 530px) {
	.info-box {
		padding: 0;
		display: inline-block;
	}
}
